.header {
    min-height: 70px;
    background-color: antiquewhite;

    .header__nav {
        display: flex;
        justify-content: space-between;
        padding: 0 100px;
    }

    .header__logo {

    }

    .header__link {

    }

}

