<div class="container">
  <div class="container__product">
    <h1>QUẢN LÝ SẢN PHẨM</h1>

    <div class="container__product-nav">
      <div class="container__product-filter">
        <button (click)="toggleSearch()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>

        <button><i class="fa-solid fa-filter"></i></button>
      </div>
      <a href="addProduct">Thêm sản phẩm mới</a>
    </div>

    <ul class="container__product-list">
      <app-product-card
        *ngFor="let product of filteredProducts"
        [product]="product"
      ></app-product-card>
    </ul>

    <!-- Search input & overlay -->
    <div class="search-popub" *ngIf="isSearchVisible">
        <div class="search-popub__box">
          <p>TÌm kiếm sản phẩm</p>
          <input type="text" placeholder="Tìm sản phẩm theo tên hoặc id" [(ngModel)]="searchText" />
        </div>
        <div class="overlay" (click)="closeSearch()">
        </div>
    </div>
  </div>
</div>
